<<<<<<< HEAD
<h1><%=@user.username%></h1>

<% @user.tweets.each do |t| %>
<p><%=t.content%></p>
<%end%>
<a href="logout">Log Out</a>
=======
<h1>Welcome <%=@user.name%></h1>
>>>>>>> 562243b2f5a6739721a7708958d374e620ae2f18
