<h1>Create New Tweet</h1>

<form action="/tweet" method="post">
  <label></lable><input type="text" name="content" value="content">
  <input type="submit" name="submit" value="submit">
</form>

<a href="/logout">Log Out</a>
