<h1><%=@tweet.id%></h1>

<p><%=@tweet.content%></p>

<form action="/tweets/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>

<a href="/logout">Log Out</a>
